<mdb-navbar SideClass="navbar navbar-expand-lg navbar-light fixed-top scrolling-navbar" [containerInside]="false">
  <mdb-navbar-brand>
    <a class="logo navbar-brand waves-light" mdbWavesEffect href="#"><strong>INDYLL</strong></a>
  </mdb-navbar-brand>
  <links>
    <ul class="navbar-nav ml-auto Menu-list">
      <li class="Menu-list-item nav-item" routerLink="/home" >
        HOME
        <span class="Mask"><span >HOME</span></span>
        <span class="Mask"><span>HOME</span></span>
      </li>
      <li class="Menu-list-item nav-item" routerLink="/about" >
        ABOUT
        <span class="Mask"><span >ABOUT</span></span>
        <span class="Mask"><span>ABOUT</span></span>
      </li>
      <li class="Menu-list-item nav-item" routerLink="/portfolio" >
        PORTFOLIO
        <span class="Mask"><span >PORTFOLIO</span></span>
        <span class="Mask"><span>PORTFOLIO</span></span>
      </li>
      <li class="Menu-list-item nav-item" routerLink="/contact" >
        CONTACT
        <span class="Mask"><span >CONTACT</span></span>
        <span class="Mask"><span>CONTACT</span></span>
      </li>
    </ul>
  </links>
</mdb-navbar>
<script src='../../assets/js/navbar.js'>
</script>
